.detail {
  background-color: black;
}
.loading-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-indicator {
  color: white;
  font-size: 24px;
}
body.loading {
  background-color: black;
}
