.club-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .club-card-container {
    justify-content: center;
  }
}

#root {
  background-color: rgb(31, 30, 30);
  color: aliceblue;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-indicator {
  color: white;
  font-size: 24px;
}
